/*Structure*/
body, #header h1{
    margin:0;
}
h1{
    padding-left: 35px;
}




/*Nav*/
#header{
    background:#7BA098;
    position:relative;
    padding-top:10px;
}
#header nav li{
    list-style-type: none;
    padding-bottom:20px;
}
#header nav a{
    text-decoration: none;
    color:var(--black);
    padding-right:10px;
}
#header nav a:hover{
    color:white;
}
#header h1{
    padding-top:10px;
    padding-left:50px;
}
#main-nav{
    padding-left:10px;
}
#logo{
    position:absolute;
    top:5px;
    left:180px;
    height:60px;
    width:150px;
}
.columns-mobile{
    display: flex;
    flex-wrap: wrap;
}
/* Dont need yet, for toggle nav
.hide-small{
    display:none;
}
*/

@media only screen and (min-width: 768px){
    .columns{
        display:flex;
    }
    #header nav li{
        padding-right:5px;
    }
}