.menu{
    padding-bottom: 20px;
    margin-left:15%;
} 
#make-sandwich{
    margin-left:30px;
}
@media only screen and (min-width: 768px){
    .menu{
        padding-left:20px;
        gap:50px;
        margin-left:0;
    }
}